# Python
__pycache__/
*.py[cod]
*.pyd
*.pyc
*.pyo
.Python

# Environments
.env
.venv
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# pytest
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# # Data & models (too large for git)
# data/
# models/
# *.parquet
# *.csv
# *.h5
# *.pkl
# *.joblib

# Results / outputs
results.json
reports/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# AWS SAM build
.aws-sam/
